html, body{



    height: 100%;
    margin: 0;
}

body{
background-image: linear-gradient(to right top,#310144,#b700ff,#4f3958,#6c148f,#e0a4f7);










}














